In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/form_data.csv', header=None)

In [3]:
data.shape

(1031284, 4)

In [4]:
data.head()

          0    1    2                                                  3
0  (1113027   33   27  0.0-0.0-0.0-0.0-0.0-0.0-1.0-0.0-1.0-0.0-0.0-0....
1  (1115313  147  111  0.0-2.0-0.0-0.0-0.0-0.0-0.0-0.0-1.0-0.0-0.0-0....
2  (1115907  528  136  0.0-1.0-0.0-0.0-1.0-0.0-6.0-0.0-1.0-0.0-0.0-0....
3  (1116299   55   21  0.0-2.0-0.0-0.0-0.0-1.0-2.0-0.0-2.0-0.0-0.0-0....
4  (1120373   62   54  0.0-0.0-0.0-0.0-1.0-0.0-4.0-0.0-0.0-0.0-0.0-0....

In [8]:
new_data = data.sample(n=200000, random_state=1)

In [9]:
new_data.shape

(200000, 4)

In [10]:
new_data.head()

                0    1   2                                                  3
279084   (3373373   22  16  1.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0....
638784  (12980356   66  22  0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0....
729562   (9875184   45  38  0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-4.0-0.0-0.0-0....
882819   (3332535  172  69  0.0-1.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0.0-0....
153558  (11907745   88  70  0.0-1.0-0.0-0.0-0.0-0.0-0.0-0.0-1.0-0.0-1.0-0....

In [11]:
new_data.to_csv('../data/form_data_2.csv', index=False)